server {
	listen 443 ssl;
	listen [::]:443 ssl;

	server_name telescope.galaxyproject.eu;

	location / {
		proxy_pass http://telescope.internal.galaxyproject.eu/;
		proxy_cache           STATIC;
		proxy_cache_valid     200  20m;
		proxy_cache_use_stale error timeout invalid_header updating http_500 http_502 http_503 http_504;
	}
}
